<!-- interpolation com as propriedades indicadas em interpolation.component.ts-->
<div class="content">
  <h1>Interpolation Data Binding</h1>
  <span>O valor da variável x é: {{ x }}</span>
  <br /><br />

  <span>O array de números é composto pelos valores: {{ umArray }}</span>
  <br /><br />

  <span>As informações da data de hoje são: {{ dataHoje }}</span>
  <br /><br />

  <span>O status booleano indicado na variável é: {{ statusBooleano }}</span>
  <br /><br />

  <span>{{ statusBooleano ? "Este é o texto para o status TRUE" : "Este é o texto para o status FALSE" }}</span>
  <br /><br />

  <span> {{ exibirTexto() }}</span>
  <br /><br />
</div>
